@font-face { 
    font-family: Code Saver; 
    src: url(assets/CodeSaver-Regular.otf); 
} 


* {
    padding: 0;
    margin: 0;
    font-family: 'Code Saver';
    box-sizing: border-box;
}


.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #13121A;
    color: #DEDDE5;
}

.App h1{
    color: #757283;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.Resultado {
    display: flex;
    background-color: #24232B;
    height: 5rem;
    width: 30rem;
    align-items: center;
    font-size: 2.5rem;
    padding: 0.5rem 1rem;
    color: #54535B;
    margin-bottom: 2rem;
}

.Configs {
    height: 30rem;
    width: 30rem;
    background-color: #24232B ;
    padding: 1.5rem;
}

#length {
    display: flex;
    flex-direction: column;
} 

#length label {
    margin-bottom: 1rem;
}

#valores {
    display: flex;
}

#valores span {
    margin-left: 17rem;
}

#length input {
    appearance: none;
    color: #fff;
    cursor: pointer;
}

#length input::-webkit-slider-runnable-track {
    background-color: #18161F;
    height: 0.5rem;
}

#length input::-webkit-slider-thumb {
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #E6E5EA;
    border-radius: 50%;
    margin-top: -8px;
}

